### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Python 编译文件
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/

/src/server_agent/.env
/src/server_agent/configs/main_model_config.json
/src/server_agent/configs/model_configs.json
/src/server_agent/conversations/
/src/server_agent/data/
/src/server_new/data/
/src/data/